test-lead-workflow.json
{
    "name": "Test Lead Submission",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "test-lead",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-node",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "test-lead-webhook"
        },
        {
            "parameters": {
                "url": "https://bazztech-agentic-team-auto-production-047d.up.railway.app/api/webhook",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "name",
                            "value": "={{ $json.name }}"
                        },
                        {
                            "name": "phone",
                            "value": "={{ $json.phone }}"
                        },
                        {
                            "name": "email",
                            "value": "={{ $json.email }}"
                        },
                        {
                            "name": "source",
                            "value": "n8n_test"
                        }
                    ]
                },
                "options": {}
            },
            "id": "http-request-node",
            "name": "Send to Dashboard",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "={{ $json }}",
                "options": {}
            },
            "id": "respond-node",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Send to Dashboard",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to Dashboard": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {},
    "versionId": "1"
}