n8n-workflows/1-lead-generation.json
{
    "name": "1. Lead Generation - Apify Scraper",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 6
                        }
                    ]
                }
            },
            "name": "Schedule Every 6 Hours",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                0
            ],
            "id": "c8c149f1-d973-44c4-92a1-7d8b48608dcc"
        },
        {
            "parameters": {
                "actorSource": "store",
                "actorId": {
                    "__rl": true,
                    "value": "VhxlqQXRwhW8H5hNV",
                    "mode": "list",
                    "cachedResultName": "Linkedin Profile Details Scraper + EMAIL (No Cookies Required) (apimaestro/linkedin-profile-detail)",
                    "cachedResultUrl": "https://console.apify.com/actors/VhxlqQXRwhW8H5hNV/input"
                },
                "customBody": "{\n  \"search_queries\": [\n    \"IT Manager in Kenya\",\n    \"Business Owner in Kenya\",\n    \"CEO in Kenya\"\n  ],\n  \"max_profiles\": 50\n}\n",
                "timeout": {}
            },
            "type": "@apify/n8n-nodes-apify.apify",
            "typeVersion": 1,
            "position": [
                224,
                0
            ],
            "id": "6ea131cf-4c9e-4421-9db0-197e4a1b23a0",
            "name": "Run an Actor and get dataset",
            "credentials": {
                "apifyApi": {
                    "id": "gflfNAm3QNKTSDds",
                    "name": "Apify account"
                }
            }
        },
        {
            "parameters": {
                "amount": 15,
                "unit": "seconds"
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                440,
                0
            ],
            "id": "wait-node",
            "name": "Wait 15s"
        },
        {
            "parameters": {
                "url": "=https://api.apify.com/v2/datasets/{{ $json.defaultDatasetId }}/items?token={{ $credentials.apifyApi.token }}",
                "options": {}
            },
            "name": "Get Scraped Data",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                660,
                0
            ],
            "id": "29ec302d-6c3d-4f0f-8671-5a5d084f37d1"
        },
        {
            "parameters": {
                "jsCode": "// Transform Apify data to lead format\nconst leads = [];\n\nfor (const item of $input.all()) {\n  const profile = item.json;\n  \n  // Access nested basic_info if available\n  const info = profile.basic_info || profile;\n  \n  // Correct mapping: fullname, first_name, last_name\n  let name = info.fullname;\n  if (!name && info.first_name && info.last_name) {\n      name = `${info.first_name} ${info.last_name}`;\n  }\n  \n  // Construct tags string\n  const tagList = ['APIFY', 'LINKEDIN'];\n  if (info.headline) tagList.push(info.headline.substring(0, 50));\n  if (info.location) tagList.push(info.location);\n  const tagsString = tagList.join(', ');\n\n  // Generate email from name if missing\n  const safeName = (name || 'unknown').toLowerCase().replace(/[^a-z0-9]/g, '');\n  const email = info.email || `${safeName}@linkedin.com`;\n\n  const lead = {\n    name: name || 'Unknown Name',\n    phone: '+254700000000',\n    alternativePhone: '',\n    email: email,\n    source: 'APIFY_LINKEDIN',\n    tags: tagsString,\n    preferredPackage: '5G_30Mbps',\n    installationTown: info.location || 'Nairobi',\n    deliveryLocation: info.headline || 'Unknown Company',\n    preferredDate: null,\n    preferredTime: 'Morning'\n  };\n  \n  leads.push({ json: lead });\n}\n\nreturn leads;\n"
            },
            "name": "Transform to Lead Format",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                880,
                0
            ],
            "id": "46573faf-6101-44e4-a29e-0879d818ca9b"
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                1100,
                0
            ],
            "id": "split-batch-node",
            "name": "Split into Single Items"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://bazztech-agentic-team-auto-production-047d.up.railway.app/api/webhook",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ { type: 'NEW_LEAD', data: $json } }}",
                "options": {}
            },
            "name": "Send to Dashboard",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1320,
                0
            ],
            "id": "c9ee5593-cf08-4a4e-999f-9ccbe6416b74"
        }
    ],
    "connections": {
        "Schedule Every 6 Hours": {
            "main": [
                [
                    {
                        "node": "Run an Actor and get dataset",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run an Actor and get dataset": {
            "main": [
                [
                    {
                        "node": "Wait 15s",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 15s": {
            "main": [
                [
                    {
                        "node": "Get Scraped Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Scraped Data": {
            "main": [
                [
                    {
                        "node": "Transform to Lead Format",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transform to Lead Format": {
            "main": [
                [
                    {
                        "node": "Split into Single Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split into Single Items": {
            "main": [
                [
                    {
                        "node": "Send to Dashboard",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to Dashboard": {
            "main": [
                [
                    {
                        "node": "Split into Single Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}