n8n-workflows/2-lead-qualification.json
{
    "name": "2. Lead Qualification - AI Scoring",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "qualify-lead",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook - New Lead",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                250,
                300
            ],
            "webhookId": "qualify-lead-webhook",
            "id": "webhook-node-1"
        },
        {
            "parameters": {
                "resource": "text",
                "operation": "message",
                "modelId": {
                    "__rl": true,
                    "value": "gpt-4o-mini",
                    "mode": "list",
                    "cachedResultName": "gpt-4o-mini"
                },
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "You are a lead qualification AI for Airtel Kenya 5G ODU sales. Score leads from 0-100 based on: job title, location, company size. Return ONLY valid JSON with: {\"score\": number, \"qualification\": \"HOT\"|\"WARM\"|\"COLD\", \"reasoning\": \"brief reason\", \"recommendedPackage\": \"5G_15Mbps\"|\"5G_30Mbps\"}"
                        },
                        {
                            "role": "user",
                            "content": "=Qualify this lead:\nName: {{ $json.body.data.name }}\nJob: {{ $json.body.data.deliveryLocation }}\nLocation: {{ $json.body.data.installationTown }}\nTags: {{ $json.body.data.tags }}"
                        }
                    ]
                },
                "options": {
                    "temperature": 0.3
                }
            },
            "name": "OpenAI - Qualify Lead",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.3,
            "position": [
                470,
                300
            ],
            "id": "openai-node-1",
            "credentials": {
                "openAiApi": {
                    "id": "{{ OPENAI_CREDENTIAL_ID }}",
                    "name": "OpenAI API"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse AI response\nconst aiText = $json.message?.content || $json.text || '';\nconst lead = $('Webhook - New Lead').item.json.body.data;\n\nlet aiResponse;\ntry {\n  aiResponse = JSON.parse(aiText);\n} catch (e) {\n  // Fallback if AI returns non-JSON\n  aiResponse = { score: 50, qualification: 'WARM', reasoning: 'Auto-assigned', recommendedPackage: '5G_30Mbps' };\n}\n\nconst qualifiedLead = {\n  id: lead.id,\n  qualificationScore: aiResponse.score,\n  status: aiResponse.score >= 70 ? 'QUALIFIED' : 'NEW',\n  qualification: aiResponse.qualification,\n  reasoning: aiResponse.reasoning\n};\n\nreturn { json: qualifiedLead };"
            },
            "name": "Process AI Score",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                690,
                300
            ],
            "id": "code-node-1"
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.qualificationScore }}",
                            "operation": "largerEqual",
                            "value2": 70
                        }
                    ]
                }
            },
            "name": "IF Score >= 70",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                910,
                300
            ],
            "id": "if-node-1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://bazztech-agentic-team-auto-production-047d.up.railway.app/api/webhook",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ { type: 'UPDATE_STATUS', data: { id: $json.id, status: 'QUALIFIED' } } }}",
                "options": {}
            },
            "name": "Mark as QUALIFIED",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1130,
                200
            ],
            "id": "http-node-1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "PLACEHOLDER_FORM_SUBMISSION_WEBHOOK_URL",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ { leadId: $('Webhook - New Lead').item.json.body.data.id, score: $json.qualificationScore } }}",
                "options": {}
            },
            "name": "Trigger Form Submission",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1350,
                200
            ],
            "id": "http-node-2"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: true, qualified: $json.qualificationScore >= 70, score: $json.qualificationScore } }}",
                "options": {}
            },
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1570,
                300
            ],
            "id": "respond-node-1"
        }
    ],
    "connections": {
        "Webhook - New Lead": {
            "main": [
                [
                    {
                        "node": "OpenAI - Qualify Lead",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI - Qualify Lead": {
            "main": [
                [
                    {
                        "node": "Process AI Score",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process AI Score": {
            "main": [
                [
                    {
                        "node": "IF Score >= 70",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Score >= 70": {
            "main": [
                [
                    {
                        "node": "Mark as QUALIFIED",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mark as QUALIFIED": {
            "main": [
                [
                    {
                        "node": "Trigger Form Submission",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Trigger Form Submission": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}