n8n-workflows/Autonomous_Sales_Agent.json
{
    "name": "Autonomous Sales Agent (Internal - Lead Outreach)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 1
                        }
                    ]
                }
            },
            "id": "node-schedule",
            "name": "Hourly Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                200,
                300
            ],
            "notes": "Runs every hour to pick up new, uncontacted leads from the database."
        },
        {
            "parameters": {
                "url": "={{ $env.DASHBOARD_URL }}/api/leads?stage=LEAD&limit=20",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "={{ $env.INTERNAL_API_KEY }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-fetch-new-leads",
            "name": "Fetch New Leads (LEAD Stage)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                450,
                300
            ],
            "notes": "Fetches up to 20 LEAD-stage contacts that haven't been contacted yet."
        },
        {
            "parameters": {
                "jsCode": "// Spread the leads array into individual items for batch processing\nconst leads = $input.first().json;\nif (!Array.isArray(leads) || leads.length === 0) {\n  return [];\n}\nreturn leads.map(lead => ({ json: lead }));"
            },
            "id": "node-split-leads",
            "name": "Split into Individual Leads",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "resource": "chat",
                "operation": "complete",
                "model": "gpt-4o-mini",
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "You are Bazz, an outreach assistant for Bazz AI Agentic Team. Write a friendly, brief, non-pushy first WhatsApp message to a new lead. The message should: introduce Bazz AI, mention we help businesses automate with WhatsApp AI agents, and invite them to a free 15-minute consultation. Keep it under 80 words. Only output the message text, nothing else."
                        },
                        {
                            "role": "user",
                            "content": "Write an outreach message for: {{ $json.name || 'a business owner' }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-generate-message",
            "name": "Generate Personalized Outreach",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1,
            "position": [
                950,
                300
            ],
            "notes": "Generates a personalized first-touch WhatsApp message using the lead's business info."
        },
        {
            "parameters": {
                "url": "={{ $env.WHATSAPP_API_URL }}/messages",
                "method": "POST",
                "authentication": "headerAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.WHATSAPP_TOKEN }}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "to",
                            "value": "={{ $('Split into Individual Leads').item.json.phone }}"
                        },
                        {
                            "name": "type",
                            "value": "text"
                        },
                        {
                            "name": "text.body",
                            "value": "={{ $json.choices[0].message.content }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-send-outreach",
            "name": "Send WhatsApp Outreach",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1200,
                300
            ]
        },
        {
            "parameters": {
                "url": "={{ $env.DASHBOARD_URL }}/api/webhook",
                "method": "POST",
                "sendBody": true,
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "={{ $env.INTERNAL_API_KEY }}"
                        }
                    ]
                },
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "type",
                            "value": "UPDATE_STAGE"
                        },
                        {
                            "name": "data.leadId",
                            "value": "={{ $('Split into Individual Leads').item.json.id }}"
                        },
                        {
                            "name": "data.stage",
                            "value": "CONTACTED"
                        },
                        {
                            "name": "data.lastMessage",
                            "value": "={{ $('Generate Personalized Outreach').item.json.choices[0].message.content }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-update-stage-contacted",
            "name": "Update CRM → CONTACTED",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1450,
                300
            ],
            "notes": "Moves the lead from LEAD → CONTACTED in the CRM pipeline after outreach is sent."
        }
    ],
    "connections": {
        "Hourly Trigger": {
            "main": [
                [
                    {
                        "node": "Fetch New Leads (LEAD Stage)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch New Leads (LEAD Stage)": {
            "main": [
                [
                    {
                        "node": "Split into Individual Leads",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split into Individual Leads": {
            "main": [
                [
                    {
                        "node": "Generate Personalized Outreach",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Personalized Outreach": {
            "main": [
                [
                    {
                        "node": "Send WhatsApp Outreach",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send WhatsApp Outreach": {
            "main": [
                [
                    {
                        "node": "Update CRM → CONTACTED",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "saveManualExecutions": true,
        "executionOrder": "v1"
    },
    "tags": [
        "internal",
        "sales-agent",
        "crm",
        "autonomous"
    ]
}