n8n-workflows/Bazz_Flow_Master.json
{
    "name": "Bazz-Flow: Jenga API Polling Engine",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 15
                        }
                    ]
                }
            },
            "id": "schedule-15min",
            "name": "Every 15 Minutes",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 24
                        }
                    ]
                }
            },
            "id": "schedule-daily",
            "name": "Daily 08:00 EAT",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                0,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.DASHBOARD_URL }}/api/jenga/poll",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "={{ $env.INTERNAL_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "options": {
                    "timeout": 30000,
                    "redirect": {
                        "redirect": {
                            "followRedirects": true
                        }
                    }
                }
            },
            "id": "poll-jenga",
            "name": "Poll Equity Statement",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                300,
                0
            ],
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 60000
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "poll-success",
                            "leftValue": "={{ $json.success }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ]
                }
            },
            "id": "check-poll-success",
            "name": "Poll Succeeded?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                550,
                0
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "status",
                            "value": "success"
                        },
                        {
                            "name": "polledAt",
                            "value": "={{ $json.summary.polledAt }}"
                        },
                        {
                            "name": "matched",
                            "value": "={{ $json.summary.matched }}"
                        },
                        {
                            "name": "newRecords",
                            "value": "={{ $json.summary.newRecords }}"
                        },
                        {
                            "name": "skipped",
                            "value": "={{ $json.summary.skipped }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "log-success",
            "name": "Log Poll Result",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                800,
                -50
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "has-matches",
                            "leftValue": "={{ $json.summary.matched }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        }
                    ]
                }
            },
            "id": "check-matches",
            "name": "Any Matches?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                800,
                100
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.DASHBOARD_URL }}/api/jenga/notify",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "={{ $env.INTERNAL_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"type\": \"PAYMENT_RECEIVED\",\n  \"userId\": \"{{ $json.summary.matchedUserId }}\",\n  \"subscriptionId\": \"{{ $json.summary.matchedSubId }}\"\n}"
            },
            "id": "notify-payment",
            "name": "Send Payment Confirmation",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1050,
                100
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "status",
                            "value": "failed"
                        },
                        {
                            "name": "error",
                            "value": "={{ $json.error }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "log-failure",
            "name": "Log Poll Failure",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                800,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.DASHBOARD_URL }}/api/jenga/subscriptions/check",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "={{ $env.INTERNAL_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "options": {
                    "timeout": 30000
                }
            },
            "id": "lifecycle-check",
            "name": "Check Subscriptions",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                300,
                400
            ],
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 60000
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "has-renewals",
                            "leftValue": "={{ $json.renewalReminders.length }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        }
                    ]
                }
            },
            "id": "check-renewals",
            "name": "Any Renewals?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                550,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.DASHBOARD_URL }}/api/jenga/notify",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "={{ $env.INTERNAL_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"type\": \"RENEWAL_DUE\",\n  \"userId\": \"{{ $json.renewalReminders[0].userId }}\",\n  \"subscriptionId\": \"{{ $json.renewalReminders[0].subscriptionId }}\"\n}"
            },
            "id": "notify-renewal",
            "name": "Send Renewal Reminder",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                800,
                350
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "has-suspended",
                            "leftValue": "={{ $json.suspended.length }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        }
                    ]
                }
            },
            "id": "check-suspended",
            "name": "Any Suspended?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                550,
                550
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.DASHBOARD_URL }}/api/jenga/notify",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "={{ $env.INTERNAL_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"type\": \"SUSPENDED\",\n  \"userId\": \"{{ $json.suspended[0] }}\",\n  \"subscriptionId\": \"\"\n}"
            },
            "id": "notify-suspended",
            "name": "Send Suspension Notice",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                800,
                550
            ]
        }
    ],
    "connections": {
        "Every 15 Minutes": {
            "main": [
                [
                    {
                        "node": "Poll Equity Statement",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Poll Equity Statement": {
            "main": [
                [
                    {
                        "node": "Poll Succeeded?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Poll Succeeded?": {
            "main": [
                [
                    {
                        "node": "Log Poll Result",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Any Matches?",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Log Poll Failure",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Any Matches?": {
            "main": [
                [
                    {
                        "node": "Send Payment Confirmation",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Daily 08:00 EAT": {
            "main": [
                [
                    {
                        "node": "Check Subscriptions",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Subscriptions": {
            "main": [
                [
                    {
                        "node": "Any Renewals?",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Any Suspended?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Any Renewals?": {
            "main": [
                [
                    {
                        "node": "Send Renewal Reminder",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Any Suspended?": {
            "main": [
                [
                    {
                        "node": "Send Suspension Notice",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "bazztech"
        },
        {
            "name": "jenga"
        },
        {
            "name": "payments"
        }
    ]
}