n8n-workflows/Bazz_Flow_Master.json
{
    "name": "Bazz-Flow Master (M-Pesa AI Acknowledgement)",
    "nodes": [
        {
            "parameters": {},
            "id": "node-webhook-mpesa",
            "name": "M-Pesa Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                300
            ],
            "webhookId": "bazz-flow-master",
            "notes": "Receives Daraja API or IntaSend callback payloads indicating a successful payment."
        },
        {
            "parameters": {
                "url": "={{ $env.DASHBOARD_URL }}/api/client-config?webhookId={{ $json.body.webhookId }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "={{ $env.INTERNAL_API_KEY }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-fetch-client-config",
            "name": "Fetch Client AI Config",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                400,
                300
            ],
            "notes": "Pulls the custom payment receipt instructions and Meta connection for this business."
        },
        {
            "parameters": {
                "jsCode": "const config = $input.first().json;\nif (config.error) {\n  throw new Error(`Client config error: ${config.error}`);\n}\n\nconst payment = $('M-Pesa Webhook Trigger').first().json.body;\n\nreturn [{\n  json: {\n    amount: payment.Body.stkCallback.CallbackMetadata.Item.find(i => i.Name === 'Amount').Value,\n    phone: payment.Body.stkCallback.CallbackMetadata.Item.find(i => i.Name === 'PhoneNumber').Value,\n    receipt: payment.Body.stkCallback.CallbackMetadata.Item.find(i => i.Name === 'MpesaReceiptNumber').Value,\n    businessName: config.businessName,\n    systemPrompt: config.systemPrompt,\n    whatsappPhoneId: config.whatsapp.phoneId,\n    whatsappToken: config.whatsapp.token\n  }\n}];"
            },
            "id": "node-prepare-payment-context",
            "name": "Format M-Pesa Payload",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                600,
                300
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "A new payment has just been received over M-Pesa. Please generate a highly personalized, warm, and professional WhatsApp receipt message for this customer.\n\nAmount Paid: {{ $json.amount }} KES\nCustomer Phone: {{ $json.phone }}\nM-Pesa Receipt Number: {{ $json.receipt }}",
                "options": {
                    "systemMessage": "You are the automated billing assistant for {{ $json.businessName }}.\n\n{{ $json.systemPrompt }}\n\nAlways sound appreciative and confirm exactly how much was paid and the receipt number."
                }
            },
            "id": "node-ai-agent",
            "name": "Payment AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o-mini",
                "options": {
                    "temperature": 0.5
                }
            },
            "id": "node-ai-model",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                850,
                500
            ]
        },
        {
            "parameters": {
                "url": "={{ $env.WHATSAPP_API_URL }}/{{ $('Format M-Pesa Payload').first().json.whatsappPhoneId }}/messages",
                "method": "POST",
                "authentication": "headerAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $('Format M-Pesa Payload').first().json.whatsappToken }}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "messaging_product",
                            "value": "whatsapp"
                        },
                        {
                            "name": "recipient_type",
                            "value": "individual"
                        },
                        {
                            "name": "to",
                            "value": "={{ $('Format M-Pesa Payload').first().json.phone }}"
                        },
                        {
                            "name": "type",
                            "value": "text"
                        },
                        {
                            "name": "text.body",
                            "value": "={{ $json.output }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-send-whatsapp-receipt",
            "name": "Send WhatsApp Receipt",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1150,
                300
            ]
        }
    ],
    "connections": {
        "M-Pesa Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Fetch Client AI Config",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Client AI Config": {
            "main": [
                [
                    {
                        "node": "Format M-Pesa Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format M-Pesa Payload": {
            "main": [
                [
                    {
                        "node": "Payment AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Payment AI Agent": {
            "main": [
                [
                    {
                        "node": "Send WhatsApp Receipt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Payment AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "saveManualExecutions": true
    },
    "tags": [
        "bazz-flow",
        "m-pesa",
        "payments",
        "ai-agent"
    ]
}