n8n-workflows/n8n-reminder-workflow.json
{
    "name": "Bazztech Expiration Workflow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "bazzai-reminders",
                "options": {}
            },
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "body.updates",
                "options": {}
            },
            "name": "Item Lists",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 1,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.urgency }}",
                            "value2": "3_DAYS"
                        }
                    ]
                }
            },
            "name": "Is 3 Days Warning?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                600,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.urgency }}",
                            "value2": "1_DAY"
                        }
                    ]
                }
            },
            "name": "Is 1 Day Warning?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                600,
                400
            ]
        },
        {
            "parameters": {
                "operation": "sendTemplate",
                "phoneNumberId": "REPLACE_ME",
                "recipientPhoneNumber": "={{ $json.client.email }}",
                "template": "hello_world",
                "language": "en"
            },
            "name": "WhatsApp Notification",
            "type": "n8n-nodes-base.whatsApp",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Item Lists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Item Lists": {
            "main": [
                [
                    {
                        "node": "Is 3 Days Warning?",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Is 1 Day Warning?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is 3 Days Warning?": {
            "main": [
                [
                    {
                        "node": "WhatsApp Notification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is 1 Day Warning?": {
            "main": [
                [
                    {
                        "node": "WhatsApp Notification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}