inbox/bazztech_agentic_team/workflows/03_form_submission_agent.json
{
  "name": "Form Submission Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger (Every 4 Hours)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://3000-ilmh2gwtz732qy0hy5dso-4229c999.manusvm.computer/api/trpc/leads.getByStatus?status=qualified",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-qualified-leads",
      "name": "Fetch Qualified Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-leads",
      "name": "Loop Through Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Construct Microsoft Forms submission payload\nconst lead = $input.item.json;\n\n// Format date and time\nconst formatDate = (dateStr) => {\n  if (!dateStr) return new Date().toISOString().split('T')[0];\n  return dateStr;\n};\n\nconst formatTime = (timeStr) => {\n  if (!timeStr) return '10:00';\n  return timeStr;\n};\n\n// Build form payload\nconst payload = {\n  \"responses\": [\n    {\n      \"questionId\": \"r1\",\n      \"answer\": \"Enterprise\"\n    },\n    {\n      \"questionId\": \"r2\",\n      \"answer\": \"BAZZTECH NETWORKS\"\n    },\n    {\n      \"questionId\": \"r3\",\n      \"answer\": \"Reagan Ochola\"\n    },\n    {\n      \"questionId\": \"r4\",\n      \"answer\": \"254781751937\"\n    },\n    {\n      \"questionId\": \"r5\",\n      \"answer\": \"Confirmed\"\n    },\n    {\n      \"questionId\": \"r6\",\n      \"answer\": \"SmartConnect (5G ODU)\"\n    },\n    {\n      \"questionId\": \"r7\",\n      \"answer\": lead.customerName || \"Unknown\"\n    },\n    {\n      \"questionId\": \"r8\",\n      \"answer\": lead.customerAirtelNumber || \"\"\n    },\n    {\n      \"questionId\": \"r9\",\n      \"answer\": lead.customerAlternateNumber || lead.customerAirtelNumber || \"\"\n    },\n    {\n      \"questionId\": \"r10\",\n      \"answer\": lead.customerEmail || \"\"\n    },\n    {\n      \"questionId\": \"r11\",\n      \"answer\": lead.preferredPackage || \"30Mbps\"\n    },\n    {\n      \"questionId\": \"r12\",\n      \"answer\": lead.installationTown || \"NAIROBI\"\n    },\n    {\n      \"questionId\": \"r13\",\n      \"answer\": lead.deliveryLocation || \"\"\n    },\n    {\n      \"questionId\": \"r14\",\n      \"answer\": formatDate(lead.installationDate)\n    },\n    {\n      \"questionId\": \"r15\",\n      \"answer\": formatTime(lead.installationTime)\n    }\n  ]\n};\n\nreturn {\n  leadId: lead.id,\n  payload: payload,\n  customerName: lead.customerName,\n  preferredPackage: lead.preferredPackage\n};"
      },
      "id": "construct-payload",
      "name": "Construct Form Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://forms.office.com/formapi/api/[FORM_ID]/responses",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "retry": {
            "enabled": true,
            "maxRetries": 3,
            "waitBetweenRetries": 300
          }
        }
      },
      "id": "submit-form",
      "name": "Submit to Microsoft Forms",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-condition",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": "200",
              "operator": {
                "type": "number",
                "operation": "gte",
                "rightType": "number"
              }
            },
            {
              "id": "success-condition-2",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": "299",
              "operator": {
                "type": "number",
                "operation": "lte",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-response",
      "name": "Check Response Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://3000-ilmh2gwtz732qy0hy5dso-4229c999.manusvm.computer/api/trpc/submissions.create",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"leadId\": {{ $node['Construct Form Payload'].json.leadId }},\n  \"status\": \"success\",\n  \"responseCode\": {{ $json.statusCode }},\n  \"responseBody\": \"{{ JSON.stringify($json.body) }}\",\n  \"submittedAt\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "create-submission-success",
      "name": "Create Submission Record (Success)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1450,
        200
      ]
    },
    {
      "parameters": {
        "url": "=https://3000-ilmh2gwtz732qy0hy5dso-4229c999.manusvm.computer/api/trpc/submissions.create",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"leadId\": {{ $node['Construct Form Payload'].json.leadId }},\n  \"status\": \"failed\",\n  \"responseCode\": {{ $json.statusCode || 0 }},\n  \"responseBody\": \"{{ JSON.stringify($json.body || $json.error) }}\",\n  \"errorMessage\": \"{{ $json.error || 'Unknown error' }}\",\n  \"submittedAt\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "create-submission-failed",
      "name": "Create Submission Record (Failed)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1450,
        400
      ]
    },
    {
      "parameters": {
        "url": "=https://3000-ilmh2gwtz732qy0hy5dso-4229c999.manusvm.computer/api/trpc/leads.update",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": {{ $node['Construct Form Payload'].json.leadId }},\n  \"status\": \"submitted\"\n}",
        "options": {}
      },
      "id": "update-lead-success",
      "name": "Update Lead Status (Submitted)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1650,
        200
      ]
    },
    {
      "parameters": {
        "url": "=https://3000-ilmh2gwtz732qy0hy5dso-4229c999.manusvm.computer/api/trpc/leads.update",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": {{ $node['Construct Form Payload'].json.leadId }},\n  \"status\": \"failed\"\n}",
        "options": {}
      },
      "id": "update-lead-failed",
      "name": "Update Lead Status (Failed)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1650,
        400
      ]
    },
    {
      "parameters": {
        "content": "## Form Submission Agent\n\n**Objective**: Auto-submit qualified leads to Airtel Installation Request Form\n\n**Method**: Reverse-engineered HTTP POST to Microsoft Forms API\n\n**Schedule**: Every 4 hours (6 times daily)\n\n**Target Output**: 100% of qualified leads submitted with >97% success rate\n\n**Configuration Notes**:\n1. Replace [FORM_ID] in Submit node with actual Microsoft Forms ID\n2. Verify question IDs (r1-r15) match the actual form structure\n3. Test with dummy data first to confirm payload format\n4. Monitor submission success rate and adjust retry logic\n5. Check error logs for failed submissions\n\n**Retry Logic**:\n- Max 3 retries\n- 5-minute delay between retries (300 seconds)\n- Exponential backoff enabled\n\n**Form Fields**:\n- r1: Agent Type (Enterprise)\n- r2: Enterprise CP (BAZZTECH NETWORKS)\n- r3: Agent Name (Reagan Ochola)\n- r4: Agent Mobile (254781751937)\n- r5: Type of Lead (Confirmed)\n- r6: Type of Connection (SmartConnect 5G ODU)\n- r7: Customer Name\n- r8: Customer Airtel Number\n- r9: Customer Alternative Number\n- r10: Customer Email\n- r11: Customer Preferred Package\n- r12: Customer Installation Town\n- r13: Specific Delivery Location\n- r14: Preferred Date of Visit\n- r15: Preferred Time of Visit",
        "height": 784.7942430703599,
        "width": 389.0838407016758,
        "color": 6
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -200
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger (Every 4 Hours)": {
      "main": [
        [
          {
            "node": "Fetch Qualified Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Qualified Leads": {
      "main": [
        [
          {
            "node": "Loop Through Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through Leads": {
      "main": [
        [
          {
            "node": "Construct Form Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construct Form Payload": {
      "main": [
        [
          {
            "node": "Submit to Microsoft Forms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to Microsoft Forms": {
      "main": [
        [
          {
            "node": "Check Response Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Response Status": {
      "main": [
        [
          {
            "node": "Create Submission Record (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Submission Record (Failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Submission Record (Success)": {
      "main": [
        [
          {
            "node": "Update Lead Status (Submitted)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Submission Record (Failed)": {
      "main": [
        [
          {
            "node": "Update Lead Status (Failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Status (Submitted)": {
      "main": [
        [
          {
            "node": "Loop Through Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Status (Failed)": {
      "main": [
        [
          {
            "node": "Loop Through Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bazztech-n8n-agentic-team"
  },
  "id": "form-submission-agent",
  "tags": []
}
